#welcome
	.inner
		%h1.title I'm Logan
		%hr
		%p.sub_title
			I like to
			%span.code code
			%span> ,&#32;
			%span.learn learn
			%span> ,&#32;
			and
			%span.solve-problems
				solve problems.
	.image-info
		%p
			An image of the famous Ear-Reddening Game
			%br
			%span.info
				Honinbo Shusaku and Gennan Inseki (1846)