#content
	.inner
		%h1.title My Projects
		%hr
		%p.sub_title Check out some of my most recent projects!
		.projects
			%ul
				- @projects.each do |project|
					%li.project
						%h3
							%span.project-title= link_to project.title, project
							%span.sub_title= project.created_at.strftime("%A, %b %d")
						= image_tag "http://lorempixel.com/100/100/", alt: "Project Image"
						%p.description
							=h truncate(project.description, :length => 300)
						%hr.mini