%h1#page_title My Projects
.wrapper
	%hr
	%p.sub_title Check out some of my most recent projects!
	%ul
		- @projects.each do |project|
			%li.project
				%h3
					%span.title= link_to project.title, project
					%span.created= project.created_at.strftime("%A, %b %d")
					%span.tags= project.tag_list
				- if project.project_image_file_name
					= image_tag project.project_image.url(:thumb)
				%p.description
					=h truncate(project.description, :length => 300)