// _basics.css.scss
// Set some basic elements
// Note: Add mixins, variables for color before any more styling

body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, figure {
	margin: 0;
	padding: 0;
}

// Lists
// Question: Why can I not retain the list circles when setting padding to 0?
ul, ol {
	margin: 0;
}

// Basic Styling
* {
	box-sizing: border-box;
}

// Body
body {
	width: 100%;
	height: 100%;
	font-family: "Josefin Sans", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	font-weight: 300;
	color: #111;
	background-color: #FFF;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, .highlight {
	margin-bottom: 10px;
}

// Headings
h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
}

// Links
a {
	color: #75BBD7;
	font-weight: 700;
	text-decoration: none;

	&:hover {
		color: #111;
		text-decoration: underline;
	}

	&:visited {
		color: #1b1c23;
	}
}

// SVG Icons
.icon > svg {
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: middle;
}
.icon > svg path {
	fill: #828282;
}

p, li, ol {
	font-weight: 400;
	font-size: 18px;
}