// _side.css.scss
// The sidebar navigation

// Box base colors
$side-1: #3D3F4E;
// $side-1: linear-gradient(to right, #251769 , #F18F77); /* Standard syntax (must be last) */
$side-2: #3D3F4E;
$side-3: #494C5E;
$side-4: #5A5E73;
$side-5: #494C5E;
$side-6: #3D3F4E;
$side-7: #5A5E73;
// Box hover colors
$side-hover-1: #EB5255;
$side-hover-2: #EB5255;
$side-hover-3: #EB5255;
$side-hover-4: #EB5255;
$side-hover-5: #333333; // Github Grey
$side-hover-6: #55ACEE; // Twitter Blue
$side-hover-7: #EB5255;
// Active color(s)
$side-active-1: #ED6366;
//Logo
$logo: #333333;
$logo-hover: #eeeeee;

// For standard sidebar boxes
@mixin side-box() {
	border: 1px solid #FFFFFF;
	display: table;
	transition: all .3s ease-in-out;
	border-radius: 3px;
}

// Clearfix
@mixin clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

.left, .right {
	float: left;
}

#side {
	width: 400px;
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;

	// Home logo and link
	#top {
		

		.logo {
			@include side-box();
			height: 8vh;
			width: 80px;
			padding: .5rem 0 0 0;
			background: $side-1;
			overflow: hidden;

			// Currently active homepage link
			&.current {
				background: $side-active-1;
			}
			
			.inner {
				display: table-cell;
				vertical-align: middle;
				text-align: center;
				overflow: hidden;

				.logan-logo {
					width: 3.1rem;
					height: 3.1rem;
					fill: $logo;
				}
			}

			&:hover {
				padding: .3rem 0 0 0;
				background: $side-hover-1;
				.logan-logo {
					width: 3.4rem;
					height: 3.4rem;
					fill: $logo-hover;
					transition: all .5s ease-in-out;
				}
			}
		}

		.name {
			@include side-box();
			height: 8vh;
			width: 320px;
			padding: .5rem 0;
			background: $side-1;

			// Currently active homepage link
			&.current {
				background: $side-active-1;
				.inner {
					h2 {
						// color: #C4EDFF;
					}
				}
			}

			.inner {
				display: table-cell;
				vertical-align: middle;
				text-align: center;

				h2 {
					font-size: 2em;
					color: #73768F;
					margin: 0;

					span {
						color: #FFF;
						display: block;
						font-weight: 700;
					}
				}
			}

			&:hover {
				background: $side-hover-1;

				.inner {
					h2 {
						color: #C4EDFF;
					}
				}
			}
		}
	}

	// Projects link
	#projects {
		@include side-box();
		background: $side-2;
		height: 42vh;
		width: 100%;
		padding: 0 3.5rem;

		&.current {
			background: $side-active-1;

			.inner {
				h2 {
					color: #C4EDFF;
				}
			}
		}

		.inner {
			display: table-cell;
			vertical-align: middle;

			h2 {
				font-size: 1.75em;
				color: #73768F;
				margin: 0;

				span {
					font-size: 1.5em;
					color: #FFF;
					display: block;
					// text-transform: uppercase;
					text-align: center;
				}
			}
		}

		&:hover {
			background: $side-hover-2;

			.inner {
				h2 {
					color: #C4EDFF;
				}
			}
		}
	}

	// Bottom links in sidebar
	#bottom {
		.resume, .contact, .github, .twitter, .about {
			@include side-box();
			&.current {
				background: $side-active-1;
			}
			.inner {
				display: table-cell;
				vertical-align: middle;
				text-align: center;
				color: #FFF;
			}

			i {
				font-size: 1.75em;
			}
		}

		// Resume Link
		.resume {
			height: 50vh;
			width: 200px;
			background: $side-3;
			font-size: 1.25em;

			&:hover {
				background: $side-hover-3;
			}
		}

		// Contact Link
		.contact {
			width: 200px;
			height: 17.5vh;
			background: $side-4;

			&:hover {
				background: $side-hover-4;
			}
		}

		// Github Link
		.github {
			width: 100px;
			height: 32.5vh;
			background: $side-5;

			&:hover {
				background: $side-hover-5;
			}
		}

		// Twitter Link
		.twitter {
			width: 100px;
			height: 20vh;
			background: $side-6;

			&:hover {
				background: $side-hover-6;
			}
		}

		// About Link
		.about {
			width: 100px;
			height: 12.5vh;
			background: $side-7;

			&:hover {
				background: $side-hover-7;
			}
		}
	}
}

// Media Queries for smaller screens
// Place sidebar on bottom!
@media (max-width: 800px) and (orientation:portrait) {
	#side {
		width: 100%;
		height: 200px;
		position: fixed;
		left: 0;
		bottom: 0;
		top: calc(100vh - 200px);

		// Home logo and link
		#top {
			@include clearfix;

			.logo {
				@include side-box();
				height: 60px;
				width: 15vw;
				padding: .5rem 0 0 0;
				background: $side-1;
				overflow: hidden;
				
				.inner {
					display: table-cell;
					vertical-align: middle;
					text-align: center;

					.logan-logo {
						width: 2.2em;
						height: 2.2em;
						fill: $logo;
					}
				}

				&:hover {
					background: $side-hover-1;
					.logan-logo {
						width: 2.2em;
						height: 2.2em;
						fill: $logo-hover;
						transition: all .5s ease-in-out;
					}
				}
			}

			.name {
				@include side-box();
				height: 60px;
				width: 35vw;
				padding: .5rem 0;
				background: $side-1;

				.inner {
					display: table-cell;
					vertical-align: middle;
					text-align: center;

					h2 {
						font-size: 1.2em;
						color: #73768F;
						margin: 0;

						span {
							color: #FFF;
							display: block;
							font-weight: 700;
						}
					}
				}

				&:hover {
					background: $side-hover-1;

					.inner {
						h2 {
							color: #C4EDFF;
						}
					}
				}
			}

			// Currently active homepage link
			&.current {
				background: #72BBD8;

				.inner {
					h2 {
						color: #C4EDFF;
					}
				}
			}
		}

		// Projects link
		#projects {
			@include side-box();
			
			background: $side-2;
			height: 140px;
			width: 50vw;
			padding: .5rem 1rem;

			.inner {
				display: table-cell;
				vertical-align: middle;

				h2 {
					font-size: .8em;
					color: #73768F;
					margin: 0;

					span {
						font-size: 1.25em;
						color: #FFF;
						display: block;
						text-transform: uppercase;
						text-align: center;
					}
				}
			}

			&:hover {
				background: $side-hover-2;

				.inner {
					h2 {
						color: #C4EDFF;
					}
				}
			}

			// Currently active projects link
			&.current {
				background: #72BBD8;

				.inner {
					h2 {
						color: #C4EDFF;
					}
				}
			}
		}

		// Bottom links in sidebar
		#bottom {

			position: relative;
			top: -60px;
			
			.resume, .contact, .github, .twitter, .about {
				@include side-box();

				.inner {
					display: table-cell;
					vertical-align: middle;
					text-align: center;
					color: #FFF;
					font-size: .8em;
				}

				i {
					font-size: .8em;
				}
			}

			// Resume Link
			.resume {
				height: 200px;
				width: 20vw;
				background: $side-3;
				font-size: 1.25em;

				&:hover {
					background: $side-hover-3;
				}
			}

			// Contact Link
			.contact {
				height: 80px;
				width: 30vw;
				background: $side-4;

				&:hover {
					background: $side-hover-4;
				}
			}

			// Github Link
			.github {
				height: 120px;
				width: 15vw;
				background: $side-5;

				&:hover {
					background: $side-hover-5;
				}
			}

			// Twitter Link
			.twitter {
				height: 60px;
				width: 15vw;
				background: $side-6;

				&:hover {
					background: $side-hover-6;
				}
			}

			// About Link
			.about {
				height: 60px;
				width: 15vw;
				background: $side-7;

				&:hover {
					background: $side-hover-7;
				}
			}
		}
	}

}